.dnaStacks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.coloredLabel {
  padding: 1.25rem 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.bottomLabel {
  position: absolute;
  bottom: 0;
}

.dnaStack {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.offset svg {
  transition: transform .1s linear;
}

.offset--4 svg {
  transform: translate(0, 4rem);
}

.offset--5 svg {
  transform: translate(0, 5rem);
}

.offset--11 svg {
  transform: translate(0, 11rem);
}

.offset--12 svg {
  transform: translate(0, 12rem);
}

.orange {
  color: var(--orange);
}

.violet {
  color: var(--violet);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.stackLabel {
  padding: 1.25rem 0;
  color: var(--hit-grey);
  opacity: 1;
  visibility: visible;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.dnaStacks rect {
  transition: opacity 0.2s linear;
}

.dnaStacks.highlightColor--orange rect:not(:global(.orange)),
.dnaStacks.highlightColor--violet rect:not(:global(.violet)),
.dnaStacks.highlightColor--green rect:not(:global(.green)),
.dnaStacks.highlightColor--blue rect:not(:global(.blue)) {
  opacity: 0.2;
}

.dnaStacks.highlightColor--orange rect:global(.orange),
.dnaStacks.highlightColor--violet rect:global(.violet),
.dnaStacks.highlightColor--green rect:global(.green),
.dnaStacks.highlightColor--blue rect:global(.blue) {
  opacity: 0.8;
}

.dnaStacks.highlightColor--orange .coloredLabel.orange,
.dnaStacks.highlightColor--violet .coloredLabel.violet,
.dnaStacks.highlightColor--green .coloredLabel.green,
.dnaStacks.highlightColor--blue .coloredLabel.blue {
  opacity: 1;
}

.dnaStacks.highlightColor--orange .stackLabel,
.dnaStacks.highlightColor--violet .stackLabel,
.dnaStacks.highlightColor--green .stackLabel,
.dnaStacks.highlightColor--blue .stackLabel {
  visibility: hidden;
  opacity: 0;
}
