:root {
  --font-work-sans: 'Work Sans', sans-serif;
  --ivory: #FFFDF5;
  --lavender-grey: #C9C5D3;
  --hit-grey: #ACAAC0;

  --blue-zodiac: #1F2B48;

  --orange: #FFBB56;
  --violet: #8D65FF;
  --blue: #2FBDEA;
  --green: #45E3BE;

  --background-color: var(--blue-zodiac);

  --max-width: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background-color);
  font-family: var(--font-work-sans);
  color: var(--lavender-grey);
}

body:first-child {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
