.main {
  padding: 6rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  max-width: 850px;

  color: var(--ivory);
  font-weight: 600;
  font-size: 72px;
  line-height: 130%;
  text-align: center;
}

.hero h3 {
  margin-top: 1em;
  max-width: 760px;

  color: var(--lavender-grey);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
}

.claim {
  max-width: 1150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6rem;
}

.claim h2 {
  color: var(--ivory);
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
}

.claim h4 {
  color: var(--lavender-grey);
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
}
